.main-box {
  flex-grow: 8.5;

  background-color: rgb(180, 213, 226);
}

.main-box__item {
  padding: 1.5rem;

  display: flex;
  gap: 0.8rem;
}

.main-box__cover {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 40%;
  overflow: hidden;
}

.main-box__name {
  padding-bottom: 0.4rem;

  font-size: 0.75rem;
}

.main-box__msg {
  display: flex;
  gap: 0.5rem;
}

.main-box__text {
  padding: 0.6rem 0.8rem 0.5rem;

  border-radius: 5px;

  font-size: 0.9rem;
  font-weight: 500;

  background-color: white;
}

.main-box__time {
  align-self: flex-end;

  font-size: 0.5rem;
  font-weight: 500;
}

.input-box {
  flex-grow: 1;

  display: flex;
}

.input-box__input {
  padding: 1rem;
  flex-grow: 8;

  border: none;
  resize: none;

  font-family: sans-serif;
}

.input-box__btn--default {
  padding: 0.5rem 1rem 0.5rem;
  margin: 0.5rem;
  height: 2rem;

  align-self: end;

  border-radius: 10px;

  background-color: rgb(237, 237, 237);
  font-weight: 500;
  color: rgb(144, 144, 144);
}

.input-box__btn--default:hover {
  background-color: rgb(255, 234, 0);
  color: black;
}
